{% set id_token_claims = session.at_result.id_token_claims if session.at_result is defined else '' %}

{% extends 'layout.html' %}

{% block header %}
    {% block title %}
        Authentication: Use MSAL Python to sign in users in your own Azure Active Directory tenant
    {% endblock %}
{% endblock %}

{% block body %}
    {% if request.path == url_for('auth.token_details') %}
        {% include 'auth/token-card.html' %}
    {% else %}
        {% include 'auth/login-card.html' %}
    {% endif %}
{% endblock %}

{% block flash_messages %}

{% endblock %}

{% block footer %}
    <p>&copy; 2020 Microsoft Corp</p>
{% endblock %}

