{% extends 'layout.html'%}
{% block header %}
    {% block title %}
        Chapter 1-i Login with MSAL Python to My Org
    {% endblock %}
{% endblock %}

{% block main_card_title %}
        Login Status
{% endblock %}

{% block main_card_body %}
        {% if auth_user_claims %}
        You're logged in! Try logging out!
        {% else %}
        You're currently logged out. Try logging in!
        {% endif %}
    </h5>
{% endblock%}

<h5 class="alert alert-secondary" role="alert" id="mainCard">

</h5>

<h5 class="alert alert-info" role="alert" id="infoMessage">
    <!-- {% block main_card_alert_info %} {% endblock %} -->
</h5>

<h5 class="alert alert-error" role="alert" id="infoMessage">

</h5>

{% block body %}
{% endblock%}
