[ req ]
default_bits        = 2048
default_days        = 365
default_keyfile     = local-host.pem
distinguished_name  = subject
req_extensions      = extensions
x509_extensions     = extensions
string_mask         = utf8only
prompt              = no

[ subject ]
C                   = CA
ST                  = BC
L                   = Vancouver
O                   = Identity Samples Dummy Certs
CN                  = Identity Samples Dummy Certs
emailAddress        = dummycerts@example.com

[ extensions ]

subjectKeyIdentifier        = hash
authorityKeyIdentifier      = keyid,issuer

basicConstraints        = CA:FALSE
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage        = serverAuth
subjectAltName          = @alternate_names
nsComment               = "Identity Samples Dummy Certificate"

[ alternate_names ]

DNS.1       = localhost
IP.1        = 127.0.0.1