<ul class="nav navbar-nav navbar-right">
    {% if g.identity_context_data.authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('token_details') }}">Hello {{ g.identity_context_data.username }}!</a>
        </li>
        <li>
            <a class="btn btn-warning" href="{{ ms_id_url_for('sign_out') }}">Sign Out</a>
        </li>
    {% else %}
        <li><a class="btn btn-success" href="{{ ms_id_url_for('sign_in') }}">Sign In</a></li>
    {% endif %}
</ul>
