<div class="card">
    <h5 class="card-header bg-primary">
        Login Status:
        {{ "You're logged in!" if id_token_claims else "You're logged out."}}
    </h5>
    <div class="card-body">
            {% if id_token_claims %}
                <p class="card-text">
                Try getting your <a class="btn btn-success" href="{{ url_for('auth.token_details') }}">ID Token Details</a>
            {% else %}
                Use the button on the top right to log in.
                </p>
            {% endif %}
        </p>
    </div>
</div>