{% extends 'content.html' %}

{% block header %}
    {{ "You're signed in, " + g.identity_context_data.username + "!" if g.identity_context_data.authenticated else "You're not signed in."}}
{% endblock %}

{% block text %}
    {% if g.identity_context_data.authenticated %}
        Click here to get your <a class="btn btn-info p-1" href="{{ url_for('token_details') }}">ID Token Details</a>
    {% else %}
        Use the button on the top right to sign in. <br/>
        Attempts to get your <a href="{{ url_for('token_details') }}">ID Token Details</a> should result in a 401 error.
    {% endif %}
{% endblock %}