{% set id_token = session.at_result.id_token if session.at_result is defined else '' %}
{% set exclude_claims = ['iat', 'exp', 'nbf', 'uti'] %}

<div class="card">
    <h5 class="card-header bg-primary">
        ID Token Details
    </h5>
    <div class="card-body">
        <!-- <h5 class="card-title">
            Claims:
        </h5> -->
            {% if id_token_claims %}
            <p class="card-text">
                {% for claim, value in id_token_claims.items() %}
                    {% if claim not in exclude_claims %}
                        <b>{{ claim }}:</b> {{ value }} </br>
                    {% endif %}
                {% endfor %}
            {% else %}
                Sign in to see ID Token details
            </p>
            {% endif %}
        </p>
        <!-- <div class="card-footer">
            {{ id_token }}
        </div> -->
    </div>
</div>